body {
  border: 6px solid blue;
  border-style: ridge;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  width: 50%;
}

.Textfields {
  background-color: #d0ebf7;
  border-color: #4287f5;
  border-radius: 5px;
  font-size: medium;
  padding: 5px;
}

#loginButton {
  background-color: #d0ebf7;
  border-color: #4287f5;
  border-radius: 5px;
  height: 30px;
  width: 150px;
  padding: 5px;
}

h2 {
  color: blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
}

label {
  color: aqua;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
}